<launch>
  <node name="pointcloud_to_2dmap_node" pkg="pointcloud_to_2dmap_ros" type="pointcloud_to_2dmap_ros" output="screen">
    <param name="resolution" value="0.05" type="double" />
    <param name="map_width" value="1500" type="int" />
    <param name="map_height" value="1500" type="int" />
    <param name="min_points_in_pix" value="1" type="int" />
    <param name="max_points_in_pix" value="2" type="int" />
    <param name="min_height" value="0.5" type="double" />
    <param name="max_height" value="3.0" type="double" />
    <param name="dest_directory" value="/home/user/Maps/20230731/"/>
    <param name="input_pcd" value="/home/user/Maps/20230731/Map0731.pcd"/>    
    <param name="map_name" value="Map"/>
  </node>
</launch>

