<launch>  
	<node pkg="car_controller" name="forklift" type="forklift" output="screen">
	    <param name="wheel_base" value="0.3" /> <!-- 前輪到後輪中心距離 -->

		<!--Subscriber Topic setting/-->
		<param name="topic_cmd_vel" value="/cmd_vel" />

		<!--Publisher Topic setting/-->
		<param name="topic_odom" value="/wheel_odom" />
		<param name="topic_forkpose" value="/forkpose" />
		<param name="topic_imu" value="/imu" />
	</node>
</launch>
