<launch>
  <!-- multi_goal_loop -->
  <node pkg="dashgo_tools" name="multi_goal_loop" type="multi_goal_loop" output="screen">
    <rosparam param= "goal_list">
    <!--x, y, z, w-->
    [
      9.303,0.497,0,1,
      9.303,0.497,0.707,0.707,
      10.121,7.073,0.707,0.707,
      12.532,16.641,0.707,0.707,
      10.909,28.058,0.707,0.707,
      9.675,35,595,0.707,0.707
    ]

    <!--
    deg    = z, w
    0deg   = 0, 1
    90deg  = 0.707, 0.707
    180deg = 1, 0s
    270deg = 0.707, -0.707

    -->
    </rosparam>
  </node>
</launch>
